.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  height: 20px;
  padding: 20px;
  width: 100%
}

.Nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Nav-item{
  float: left;
}

.App-intro {
  font-size: large;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.Search-results{
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center

}
.wrapper {

  /*padding-left: 10px;*/
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 35px;
  grid-column-gap: 5px;
  grid-auto-rows: minmax(250px, auto);
}

.Image-container {
  width: 280px;
  height: 280px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.Image-container img{
  margin: 0;
  display: block;

}

.column {
    float: center;
    width: 100%;
    padding-left: 10px;
}

@media (max-width: 100px) {
    .column {
        width: 5%;
    }
}

@media (max-width: 300px) {
    .column {
        width: 50%;
   }
}

@media (max-width: 1000px) {
    .column {
        width: 500%;
   }
}

/*.Modal-container {
  width: 600px;
  height: 650px;
  float: center;
}

.Modal-container img {
  float: left;
}*/

/*
.Modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;



}*/
.Image-modal {
  width: 900px;
  min-height: 100px;
  margin: 0;
  display: block;
  background: white;
  padding: 20px;
  margin: auto;
  position: relative;
  top: 120px;
  overflow: hidden;
  background: #f2f2f2;
  /*border: 1px;*/

}

.Modal-image {
  width: 600px;
  min-height: 100px;
  max-height: 600px;
  margin: auto;
  display: block;
  float: left;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.Modal-image img{
  margin: auto;
  display: block;

}
.Modal-content {
  width: 280px;
  max-height: 600px;
  float: right;
  text-align: left;
  overflow: scroll;
}

.Comment-form{
  position: absolute;
  bottom: 0;
  padding-bottom: 23px;
  width: 270px;
  padding-top: 15px;
}

.Comment-form input{
  width: 100%;
  border: none;
}
