.App {
  text-align: center;
  overflow: scroll;
}

.App-header {
  background-color: #ffffff;
  height: 20px;
  padding: 20px;
  width: 100%;
  margin: 0px;
}

.Nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Nav-item{
  float: left;
}

.Nav-search {
  float: right;
  padding-right: 30px;

}

.Landing-image {

  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://i.ytimg.com/vi/fZwBjlMdAY0/maxresdefault.jpg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0px;
  overflow: hidden;


}

.Landing-content{
  max-width: 500px;
  margin: auto;
  padding: 150px ;
  float: center;
  /*position: fixed;*/
  color: white;

}
.Search-item{
  margin: 2px;
}

* not(.Image){
  box-sizing: border-box;
}

.Sort-results{
  padding-left: 130px;
  padding-bottom: 10px;
  display: block;
  justify-content: left;
}

#clear-button{
  float: left;
}

.Results-title {
  display: inline;
  justify-content: center;
}

.Result-sentence{
  display: inline-block;
}

.Sort-dropdown {
  display: inline-block;
  margin: 5px;
  height: 20px;
}


img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.Search-results{
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  justify-content: center

}
.wrapper {

  /*padding-left: 10px;*/
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 25px;
  grid-column-gap: 5px;
  grid-auto-rows: minmax(250px, auto);
  line-height: 0;

}

.Image-container {
  width: 280px;
  height: 330px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.Image-preview{
  height: 280px;
  display: grid;
  align-items: center;
  justify-content: center;

}
.Image-container img{
  float: top;
  margin: 0;
  display: block;
  max-height: 280px;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding-left: 10px;
}




@media (max-width: 1200px) {




    .wrapper {
      grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 800px) {
    .wrapper {
      grid-template-columns: repeat(2, auto);
    }
    .Image-modal{
      max-height: 400px;
      max-width: 650px;
      overflow: scroll;
    }
    .Modal-image{
      max-width: 450px;
      max-height: 400px;
    }
    .Modal-content {
      max-width: 190px;
      max-height: 400px;
      overflow: scroll;
    }
    .Comment-form{
      max-width: 175px;
    }

    .Comment-list {
      max-height: 400px;
      width: 270px;
    }

    .Search-results{
      padding-left: 75px;
      padding-right: 75px;
    }

    .Filter-results{
      padding-left: 85px;
    }

    .Modal-data{
      height: 90px;
    }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(1, auto);
  }
  .Image-modal{
    max-height: 300px;
    max-width: 500px;
    overflow: scroll;
  }
  .Modal-image{
    max-width: 320px;
    max-height: 300px;
  }
  .Modal-content {
    max-width: 170px;
    max-height: 300px;
    overflow: scroll;
  }
  .Comment-form{
    max-width: 155px;
  }

  .Comment-list {
    max-height: 240px;
    width: 170px;

  }

  .Search-results{
    padding-left: 55px;
    padding-right: 55px;


  }

  .Filter-results{
    padding-left: 65px;
  }

  .Modal-data{
    max-height: 80px;
  }


}







.Image-modal {
  width: 900px;
  min-height: 100px;
  max-height: 600px;
  margin: 0;
  display: block;
  background: white;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 50px;
  overflow: scroll;
  background: #f2f2f2;
  /*border: 1px;*/

}



.Modal-image {
  box-sizing: content-box;
  width: 600px;
  min-height: 100px;
  max-height: 600px;
  margin: auto;
  display: block;
  float: left;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.Modal-image img{
  margin: auto;
  display: block;

}
.Modal-content {
  width: 280px;
  max-height: 600px;
  float: right;
  text-align: left;
  overflow: scroll;
}

.Modal-data{
  border-bottom: 1px solid black;
  height: 60px;
}

.Comment-form{
  position: absolute;
  bottom: 0;
  padding-bottom: 23px;
  width: 270px;
  padding-top: 15px;
}

.Image-title{
  line-height: 85%
}

.Image-data1 {
  line-height: 10%;
  float: left;
  font-size: 65%;

}

.Image-data2 {
  line-height: 10%;
  float: right;
  font-size: 65%;
}

.Comment-list {
  position: absolute;
  height: 445px;
  width: 270px;
  overflow: scroll;

}

.Comment-form input{
  width: 100%;
  border: none;
}
